name: Deploy rustdoc to GitHub Pages

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Build documentation
        run: cargo doc
      - name: Redirect index.html
        run: echo '<meta http-equiv="refresh" content="0; url=./YOUR_CRATE_NAME/index.html">' > target/doc/index.html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          # Overwriting the branch history on each push saves repository size
          force_orphan: true
